<a
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
  class="rounded-full border border-gray-400 border-white/10 inline-flex justify-center items-center gap-2 md:py-2 md:px-4 py-1.5 px-2.5 bg-white/5 transition hover:scale-110 hover:bg-white/10 text-sm md:text-base text-black/70 dark:text-white/80"
>
  <slot />
</a>
