---
import Layout from "../layouts/Layout.astro"
// icons
import InstagramIcon from "../icons/Instagram.astro"
import TwitterIcon from "../icons/Twitter.astro"
import GitHubIcon from "../icons/GitHub.astro"
import Experience from "../icons/Experience.astro"
import ProjectsIcon from "../icons/Projects.astro"
import SocialsPill from "../icons/SocialsPill.astro"
import MailIcon from "../icons/Mail.astro"

// components
import Timeline from "../components/Timeline.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Projects from "../components/Projects.astro"
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
---

<Layout
  title="Porfolio de heim - Desarrollador y Programador con una amplia experiencia"
  description="Contrata a heim para asesorias de diseño web o para crear aplicaciones web desde 0. Desarrollador web y ayuda en todo lo tecnologias. Especializado en crear aplicaciones con personalidad"
>
  <main class="px-4">
    <!-- about me or presentation -->
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>

    <div class="space-y-24">
      <!-- timeline experience -->
      <SectionContainer id="experiencia">
        <TitleSection>
          <Experience class="size-7 lg:size-9" />
          Experiencia laboral
        </TitleSection>
        <Timeline />
      </SectionContainer>

      <!-- my projects -->
      <SectionContainer id="proyectos">
        <TitleSection>
          <ProjectsIcon class="size-7 lg:size-9" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>
    </div>
  </main>
</Layout>
