---
import Layout from "../layouts/Layout.astro"
// icons
import InstagramIcon from "../icons/Instagram.astro"
import TwitterIcon from "../icons/Twitter.astro"
import GitHubIcon from "../icons/GitHub.astro"
import Experience from "../icons/Experience.astro"
import ProjectsIcon from "../icons/Projects.astro"
import SocialsPill from "../icons/SocialsPill.astro"
import MailIcon from "../icons/Mail.astro"

// components
import Badge from "../components/Badge.astro"
import Timeline from "../components/Timeline.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Projects from "../components/Projects.astro"
---

<Layout
  title="Porfolio de heim - Desarrollador y Programador con una amplia experiencia"
  description="Contrata a heim para asesorias de diseño web o para crear aplicaciones web desde 0. Desarrollador web y ayuda en todo lo tecnologias. Especializado en crear aplicaciones con personalidad"
>
  <main class="px-4">
    <!-- about me or presentation -->
    <SectionContainer class="py-44 pb-32">
      <a
        href="https://www.linkedin.com/in/heim"
        target="_blank"
        rel="noopener"
        class="flex justify-start items-center gap-6 mb-4"
      >
        <img class="w-24 rounded-full" src="me.png" alt="logo heim" />
        <Badge>En busca de trabajo</Badge>
      </a>
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-extrabold flex flex-row gap-x-4 pb-6 lg:pb-10 font-Onest"
      >
        Hola!, soy heim
      </h1>
      <h2 class="text-lg lg:text-xl text-wrap max-w-[700px]">
        Licenciado en tecnologías de la información de México 🇲🇽. Desarrollador
        web fullstack especializado en el desarrollo de aplicaciones web con
        personalidad.
      </h2>

      <nav class="flex flex-wrap gap-4 mt-6 lg:mt-8">
        <!-- campo editable a las necesidades del cliente -->
        <SocialsPill href="https://github.com/AdrianGerman">
          <GitHubIcon class="size-4 :size-6" />
          GitHub
        </SocialsPill>

        <SocialsPill href="/">
          <InstagramIcon class="size-4 :size-6" />
          Instagram
        </SocialsPill>

        <SocialsPill href="/">
          <TwitterIcon class="size-4 :size-6" />
          Twitter (X)
        </SocialsPill>

        <SocialsPill href="/">
          <MailIcon class="size-4 :size-6" />
          Contáctame
        </SocialsPill>
      </nav>
    </SectionContainer>

    <!-- timeline experience -->
    <SectionContainer id="experiencia">
      <h2
        class="text-3xl lg:text-4xl font-semibold mb-6 flex gap-x-3 items-center justify-start font-Onest"
      >
        <Experience class="size-7 lg:size-9" />
        Experiencia laboral
      </h2>
      <Timeline />
    </SectionContainer>

    <!-- my projects -->
    <SectionContainer id="experiencia">
      <h2
        class="text-3xl lg:text-4xl font-semibold mb-6 flex gap-x-3 items-center justify-start font-Onest"
      >
        <ProjectsIcon class="size-7 lg:size-9" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
