<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-primary/80 dark:[&>p>strong]:text-secondary/90 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Estudie la <strong>Licenciatura en tecnologias de la información</strong> en
      la <strong>Universidad de Guadalajara</strong>, donde adquerí amplios
      conocimientos en programación y descubrí mi pasión por el desarrollo web,
      el desarrollo movil y el diseño gráfico. Durante mi pasantia en las
      practicas profesionales, obtuve una nueva perspectiva del mundo laboral y
      le tome un cariño especial a <strong>JavaScript</strong> y <strong
        >Python</strong
      >. Despues de terminar la licenciatura, profundicé en estudios
      independientes a través de la plataforma <strong>Platzi</strong>,
      perfeccionando habilidades en diversos lenguajes, frameworks, liberias,
      etc, destancando entre ellos <strong>React</strong>, <strong>Vuejs</strong
      >, <strong>Nextjs</strong> y <strong>Astro</strong>.
    </p>
  </div>

  <img
    src="https://raw.githubusercontent.com/AdrianGerman/Portfolio/refs/heads/main/img/me-purple.png"
    alt="Adrian German"
    width="200"
    height="200"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
