<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full w-6 h-6" src="/me.png" alt="logo heim" />

    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Sobre mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>