<header
  class="flex justify-center items-center mx-auto py-5 sticky top-0 w-full xl:w-[1120px] z-10"
>
  <nav
    class="border border-black rounded-full px-2.5 py-1.5 flex flex-row bg-black/50 backdrop-blur-2xl gap-x-4 font-Onest"
  >
    <a class="transition hover:text-primary" href="#experiencia">Experiencia</a>
    <a class="transition hover:text-primary" href="#proyectos">Proyectos</a>
    <a class="transition hover:text-primary" href="#sobre-mi">Sobre mí</a>
    <a class="transition hover:text-primary" href="#contacto">Contacto</a>
  </nav>
</header>
