---
import TimelineItem from "./TimelineItem.astro"

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Freelancer",
    description:
      "Desarrollo de aplicaciones y sitios web personalizados, adaptándonos a los requisitos específicos de cada cliente. Seguimos estrictamente las pautas de diseño establecidas, teniendo en cuenta tanto las preferencias del cliente como las mejores prácticas para mejorar la experiencia de usuario.",
    link: "#"
  },
  {
    date: "Enero 2023 - Enero 2024",
    title: "Desarrollador web practicante / becario",
    description:
      "Desarrollo de apliciones para la optimización de diversas áreas, innovación y propuestas de proyectos para mejorar la automatización de tareas. Trabajo en equipo para el desarrollo y propuestas de nuevas ideas."
  }
]
---

<ol class="relative mt-10">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <TimelineItem {...experience} />
      </li>
    ))
  }
</ol>
