---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "@fontsource/onest"
import "@fontsource-variable/onest"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="relative overflow-x-hidden">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-[radial-gradient(#dddddd_1px,#ffffff_1px)] bg-[size:20px_20px] dark:bg-gray-950 dark:bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]"
    >
    </div>
    <Header />
    <slot />
    <Footer />

    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "JetBrains Mono", system-ui;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);

        /* background: #242424; */
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: #ffffffe6;
        }
      }
    </style>
  </body>
</html>
